<font size='5'>**Data Science Training Camp I Assignment Workbook**</font>

<u>Based on [Samy Baladram's Lesson](https://sites.google.com/tohoku.ac.jp/gpds-course/courses/training-camp-i), International Liasion Office-GSIS-Tohoku University.</u>

Last Updated by [Shinil](mailto:baisy1999@outlook.com):21-11-03

<font size='3' color="#bb2222">**!**</font><font size='2'>**To retrieve the necessary data, please run the following code first.**</font></font><br>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import timeit
import seaborn as sns

!curl https://dl.dropboxusercontent.com/s/hk2hc86ml3tvkyh/imports-85.data -so cars.csv
!curl https://dl.dropboxusercontent.com/s/ijh78s1bxm7kctv/gp_data.csv -so gp_data.csv
!curl https://dl.dropboxusercontent.com/s/1770hoabg1utoat/gp_grades.csv -so gp_grades.csv
!curl https://dl.dropboxusercontent.com/s/ymjz6vqjw3jg4e7/ms_data.csv -so ms_data.csv
!curl https://dl.dropboxusercontent.com/s/k1howfpyp5rmgnb/ms_grades.csv -so ms_grades.csv
!curl https://dl.dropboxusercontent.com/s/7d4wkkzicw0xtaz/test-data.csv -so car_test_data.csv
!curl https://dl.dropboxusercontent.com/s/v9gmgxupkypn5dw/train-data.csv -so car_train_data.csv

print("Success!")

<p>

# <font size='5' color="#666644">**ASSIGNMENT**</font><font size='6' color="#E0B21B">&nbsp;**1**<br>

In this Assignment, we will try to further familiarize ourselves with the cars and students dataset. We will try to read the datasets, view some part of them, and get some basic information about them.

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**1**</font><br>

For this assignment, we will be working with the <tt>train-data.csv</tt>. Do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Load the file <tt>train-data.csv</tt> into a DataFrame called <tt>all_cars</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Use commas for field separators and use the column <tt>Name</tt> as index.

In [8]:
# No. 1
# a
# b
import pandas as pd
import numpy as np
all_cars = pd.read_csv('train-data.csv',sep=',',index_col='Name')

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**2**</font><br>

To make sure the the DataFrame looks right, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Print the first and last 10 rows of the DataFrame.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print the first 10 rows of the data.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print the index of the DataFrame.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Print the column of the DataFrame.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**e**&nbsp;&nbsp;</font> Print the shape of the DataFrame.

In [5]:
# No. 2
print("a")
print(all_cars.head(10))

print("b")
print(all_cars.tail(10))

print("c")
print(all_cars.index)

print("d")
print(all_cars.columns)

print("e")
print(all_cars.shape)

a
                                     Unnamed: 0    Location  Year  \
Name
Maruti Wagon R LXI CNG                        0      Mumbai  2010
Hyundai Creta 1.6 CRDi SX Option              1        Pune  2015
Honda Jazz V                                  2     Chennai  2011
Maruti Ertiga VDI                             3     Chennai  2012
Audi A4 New 2.0 TDI Multitronic               4  Coimbatore  2013
Hyundai EON LPG Era Plus Option               5   Hyderabad  2012
Nissan Micra Diesel XV                        6      Jaipur  2013
Toyota Innova Crysta 2.8 GX AT 8S             7      Mumbai  2016
Volkswagen Vento Diesel Comfortline           8        Pune  2013
Tata Indica Vista Quadrajet LS                9     Chennai  2012

                                     Kilometers_Driven Fuel_Type Transmission  \
Name
Maruti Wagon R LXI CNG                           72000       CNG       Manual
Hyundai Creta 1.6 CRDi SX Option                 41000    Diesel       Manual
Honda Jazz V                                     46000    Petrol       Manual
Maruti Ertiga VDI                                87000    Diesel       Manual
Audi A4 New 2.0 TDI Multitronic                  40670    Diesel    Automatic
Hyundai EON LPG Era Plus Option                  75000       LPG       Manual
Nissan Micra Diesel XV                           86999    Diesel       Manual
Toyota Innova Crysta 2.8 GX AT 8S                36000    Diesel    Automatic
Volkswagen Vento Diesel Comfortline              64430    Diesel       Manual
Tata Indica Vista Quadrajet LS                   65932    Diesel       Manual

                                    Owner_Type     Mileage   Engine  \
Name
Maruti Wagon R LXI CNG                   First  26.6 km/kg   998 CC
Hyundai Creta 1.6 CRDi SX Option         First  19.67 kmpl  1582 CC
Honda Jazz V                             First   18.2 kmpl  1199 CC
Maruti Ertiga VDI                        First  20.77 kmpl  1248 CC
Audi A4 New 2.0 TDI Multitronic         Second   15.2 kmpl  1968 CC
Hyundai EON LPG Era Plus Option          First  21.1 km/kg   814 CC
Nissan Micra Diesel XV                   First  23.08 kmpl  1461 CC
Toyota Innova Crysta 2.8 GX AT 8S        First  11.36 kmpl  2755 CC
Volkswagen Vento Diesel Comfortline      First  20.54 kmpl  1598 CC
Tata Indica Vista Quadrajet LS          Second   22.3 kmpl  1248 CC

                                         Power  Seats  New_Price  Price
Name
Maruti Wagon R LXI CNG               58.16 bhp    5.0        NaN   1.75
Hyundai Creta 1.6 CRDi SX Option     126.2 bhp    5.0        NaN  12.50
Honda Jazz V                          88.7 bhp    5.0  8.61 Lakh   4.50
Maruti Ertiga VDI                    88.76 bhp    7.0        NaN   6.00
Audi A4 New 2.0 TDI Multitronic      140.8 bhp    5.0        NaN  17.74
Hyundai EON LPG Era Plus Option       55.2 bhp    5.0        NaN   2.35
Nissan Micra Diesel XV                63.1 bhp    5.0        NaN   3.50
Toyota Innova Crysta 2.8 GX AT 8S    171.5 bhp    8.0    21 Lakh  17.50
Volkswagen Vento Diesel Comfortline  103.6 bhp    5.0        NaN   5.20
Tata Indica Vista Quadrajet LS          74 bhp    5.0        NaN   1.95
b
                                     Unnamed: 0    Location  Year  \
Name
Toyota Camry Hybrid                        6009      Mumbai  2015
Honda Brio 1.2 VX MT                       6010       Delhi  2013
Skoda Superb 3.6 V6 FSI                    6011   Hyderabad  2009
Toyota Innova 2.5 V Diesel 7-seater        6012  Coimbatore  2011
Honda Amaze VX i-DTEC                      6013  Coimbatore  2015
Maruti Swift VDI                           6014       Delhi  2014
Hyundai Xcent 1.1 CRDi S                   6015      Jaipur  2015
Mahindra Xylo D4 BSIV                      6016      Jaipur  2012
Maruti Wagon R VXI                         6017     Kolkata  2013
Chevrolet Beat Diesel                      6018   Hyderabad  2011

                                     Kilometers_Driven Fuel_Type Transmission  \
Name
Toyota Camry Hybrid                              33500    Petrol    Automatic
Honda Brio 1.2 VX MT                             33746    Petrol       Manual
Skoda Superb 3.6 V6 FSI                          53000    Petrol    Automatic
Toyota Innova 2.5 V Diesel 7-seater              45004    Diesel       Manual
Honda Amaze VX i-DTEC                            70602    Diesel       Manual
Maruti Swift VDI                                 27365    Diesel       Manual
Hyundai Xcent 1.1 CRDi S                        100000    Diesel       Manual
Mahindra Xylo D4 BSIV                            55000    Diesel       Manual
Maruti Wagon R VXI                               46000    Petrol       Manual
Chevrolet Beat Diesel                            47000    Diesel       Manual

                                    Owner_Type     Mileage   Engine  \
Name
Toyota Camry Hybrid                      First  19.16 kmpl  2494 CC
Honda Brio 1.2 VX MT                     First   18.5 kmpl  1198 CC
Skoda Superb 3.6 V6 FSI                  First    0.0 kmpl  3597 CC
Toyota Innova 2.5 V Diesel 7-seater      First   12.8 kmpl  2494 CC
Honda Amaze VX i-DTEC                    First   25.8 kmpl  1498 CC
Maruti Swift VDI                         First   28.4 kmpl  1248 CC
Hyundai Xcent 1.1 CRDi S                 First   24.4 kmpl  1120 CC
Mahindra Xylo D4 BSIV                   Second   14.0 kmpl  2498 CC
Maruti Wagon R VXI                       First   18.9 kmpl   998 CC
Chevrolet Beat Diesel                    First  25.44 kmpl   936 CC

                                         Power  Seats  New_Price  Price
Name
Toyota Camry Hybrid                  158.2 bhp    5.0        NaN  19.75
Honda Brio 1.2 VX MT                  86.8 bhp    5.0  6.63 Lakh   3.20
Skoda Superb 3.6 V6 FSI              262.6 bhp    5.0        NaN   4.75
Toyota Innova 2.5 V Diesel 7-seater    102 bhp    7.0        NaN   9.48
Honda Amaze VX i-DTEC                 98.6 bhp    5.0        NaN   4.83
Maruti Swift VDI                        74 bhp    5.0  7.88 Lakh   4.75
Hyundai Xcent 1.1 CRDi S                71 bhp    5.0        NaN   4.00
Mahindra Xylo D4 BSIV                  112 bhp    8.0        NaN   2.90
Maruti Wagon R VXI                    67.1 bhp    5.0        NaN   2.65
Chevrolet Beat Diesel                 57.6 bhp    5.0        NaN   2.50
c
Index(['Maruti Wagon R LXI CNG', 'Hyundai Creta 1.6 CRDi SX Option',
       'Honda Jazz V', 'Maruti Ertiga VDI', 'Audi A4 New 2.0 TDI Multitronic',
       'Hyundai EON LPG Era Plus Option', 'Nissan Micra Diesel XV',
       'Toyota Innova Crysta 2.8 GX AT 8S',
       'Volkswagen Vento Diesel Comfortline', 'Tata Indica Vista Quadrajet LS',
       ...
       'Toyota Camry Hybrid', 'Honda Brio 1.2 VX MT',
       'Skoda Superb 3.6 V6 FSI', 'Toyota Innova 2.5 V Diesel 7-seater',
       'Honda Amaze VX i-DTEC', 'Maruti Swift VDI', 'Hyundai Xcent 1.1 CRDi S',
       'Mahindra Xylo D4 BSIV', 'Maruti Wagon R VXI', 'Chevrolet Beat Diesel'],
      dtype='object', name='Name', length=6019)
d
Index(['Unnamed: 0', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')
e
(6019, 13)

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**3**</font><br>

We can see that there is one unwanted <tt>Unnamed: 0</tt> column. We also want to remove the column <tt>New_Price</tt>. In order to do so, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Use Pandas <tt>drop</tt> function to remove the <tt>Unnamed: 0</tt> and <tt>New_Price</tt> columns.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Specify the <tt>axis</tt> to 1.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print the first 10 rows of the dataset to check it.

In [7]:
# No. 3
# a
# b
data = all_cars.drop(['Unnamed: 0','New_Price'],axis=1)

# c
print(data.head(10))

                                       Location  Year  Kilometers_Driven  \
Name
Maruti Wagon R LXI CNG                   Mumbai  2010              72000
Hyundai Creta 1.6 CRDi SX Option           Pune  2015              41000
Honda Jazz V                            Chennai  2011              46000
Maruti Ertiga VDI                       Chennai  2012              87000
Audi A4 New 2.0 TDI Multitronic      Coimbatore  2013              40670
Hyundai EON LPG Era Plus Option       Hyderabad  2012              75000
Nissan Micra Diesel XV                   Jaipur  2013              86999
Toyota Innova Crysta 2.8 GX AT 8S        Mumbai  2016              36000
Volkswagen Vento Diesel Comfortline        Pune  2013              64430
Tata Indica Vista Quadrajet LS          Chennai  2012              65932

                                    Fuel_Type Transmission Owner_Type  \
Name
Maruti Wagon R LXI CNG                    CNG       Manual      First
Hyundai Creta 1.6 CRDi SX Option       Diesel       Manual      First
Honda Jazz V                           Petrol       Manual      First
Maruti Ertiga VDI                      Diesel       Manual      First
Audi A4 New 2.0 TDI Multitronic        Diesel    Automatic     Second
Hyundai EON LPG Era Plus Option           LPG       Manual      First
Nissan Micra Diesel XV                 Diesel       Manual      First
Toyota Innova Crysta 2.8 GX AT 8S      Diesel    Automatic      First
Volkswagen Vento Diesel Comfortline    Diesel       Manual      First
Tata Indica Vista Quadrajet LS         Diesel       Manual     Second

                                        Mileage   Engine      Power  Seats  \
Name
Maruti Wagon R LXI CNG               26.6 km/kg   998 CC  58.16 bhp    5.0
Hyundai Creta 1.6 CRDi SX Option     19.67 kmpl  1582 CC  126.2 bhp    5.0
Honda Jazz V                          18.2 kmpl  1199 CC   88.7 bhp    5.0
Maruti Ertiga VDI                    20.77 kmpl  1248 CC  88.76 bhp    7.0
Audi A4 New 2.0 TDI Multitronic       15.2 kmpl  1968 CC  140.8 bhp    5.0
Hyundai EON LPG Era Plus Option      21.1 km/kg   814 CC   55.2 bhp    5.0
Nissan Micra Diesel XV               23.08 kmpl  1461 CC   63.1 bhp    5.0
Toyota Innova Crysta 2.8 GX AT 8S    11.36 kmpl  2755 CC  171.5 bhp    8.0
Volkswagen Vento Diesel Comfortline  20.54 kmpl  1598 CC  103.6 bhp    5.0
Tata Indica Vista Quadrajet LS        22.3 kmpl  1248 CC     74 bhp    5.0

                                     Price
Name
Maruti Wagon R LXI CNG                1.75
Hyundai Creta 1.6 CRDi SX Option     12.50
Honda Jazz V                          4.50
Maruti Ertiga VDI                     6.00
Audi A4 New 2.0 TDI Multitronic      17.74
Hyundai EON LPG Era Plus Option       2.35
Nissan Micra Diesel XV                3.50
Toyota Innova Crysta 2.8 GX AT 8S    17.50
Volkswagen Vento Diesel Comfortline   5.20
Tata Indica Vista Quadrajet LS        1.95

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**4**</font><br>

We can also see that the DataFrame <tt>all_cars</tt> in **No.1** is very large. For the purpose of this assignment, let us reduce the size of that DataFrame by doing the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a new DataFrame call <tt>car_df</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> The new DataFrame will consist of rows 1000 to 1300.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print the first 10 rows of the dataset to check it.

In [10]:
# No. 4
# a
# b
car_df = data.iloc[1000:3000]

# c
print(car_df.head(10))

                                    Location  Year  Kilometers_Driven  \
Name
Maruti A-Star Lxi                  Hyderabad  2010              81448
Renault KWID RXT Optional          Hyderabad  2018               1900
Hyundai Verna 1.6 SX VTVT (O) AT  Coimbatore  2012              54957
Maruti Wagon R LXI Minor             Chennai  2008              55000
BMW 3 Series 320d Sport Line         Kolkata  2013              21983
BMW 5 Series 2003-2012 520d            Delhi  2013              76000
Tata Indigo CS eVX                    Jaipur  2016              65000
Hyundai i20 Sportz 1.4 CRDi        Hyderabad  2015              26000
Maruti Omni E MPI STD BS IV            Kochi  2019              11571
Maruti Swift ZDi                   Hyderabad  2014              81000

                                 Fuel_Type Transmission Owner_Type  \
Name
Maruti A-Star Lxi                   Petrol       Manual      First
Renault KWID RXT Optional           Petrol       Manual      First
Hyundai Verna 1.6 SX VTVT (O) AT    Petrol    Automatic      First
Maruti Wagon R LXI Minor            Petrol       Manual     Second
BMW 3 Series 320d Sport Line        Diesel    Automatic      First
BMW 5 Series 2003-2012 520d         Diesel    Automatic      First
Tata Indigo CS eVX                  Diesel       Manual      First
Hyundai i20 Sportz 1.4 CRDi         Diesel       Manual      First
Maruti Omni E MPI STD BS IV         Petrol       Manual      First
Maruti Swift ZDi                    Diesel       Manual      First

                                     Mileage   Engine      Power  Seats  Price
Name
Maruti A-Star Lxi                  19.0 kmpl   998 CC   66.1 bhp    5.0   2.60
Renault KWID RXT Optional         25.17 kmpl   799 CC   53.3 bhp    5.0   4.45
Hyundai Verna 1.6 SX VTVT (O) AT   17.1 kmpl  1591 CC  121.4 bhp    5.0   5.37
Maruti Wagon R LXI Minor           18.9 kmpl  1061 CC     67 bhp    5.0   1.75
BMW 3 Series 320d Sport Line      18.88 kmpl  1995 CC    184 bhp    5.0  16.50
BMW 5 Series 2003-2012 520d       18.48 kmpl  1995 CC    177 bhp    5.0  19.00
Tata Indigo CS eVX                 25.0 kmpl  1396 CC  69.01 bhp    5.0   2.80
Hyundai i20 Sportz 1.4 CRDi       22.54 kmpl  1396 CC  88.73 bhp    5.0   6.20
Maruti Omni E MPI STD BS IV        16.8 kmpl   796 CC   34.2 bhp    8.0   3.80
Maruti Swift ZDi                   25.2 kmpl  1248 CC     74 bhp    5.0   6.10

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**5**</font><br>

Repeat **No. 2** with the DataFrame <tt>car_df</tt> to check if everything looks right.

Also print out the data type of each column.

In [12]:
# No. 5
print("a")
print(car_df.head(10))

print("b")
print(car_df.tail(10))

print("c")
print(car_df.index)

print("d")
print(car_df.columns)

print("e")
print(car_df.shape)

print("f")
print(car_df.dtypes)

a
                                    Location  Year  Kilometers_Driven  \
Name
Maruti A-Star Lxi                  Hyderabad  2010              81448
Renault KWID RXT Optional          Hyderabad  2018               1900
Hyundai Verna 1.6 SX VTVT (O) AT  Coimbatore  2012              54957
Maruti Wagon R LXI Minor             Chennai  2008              55000
BMW 3 Series 320d Sport Line         Kolkata  2013              21983
BMW 5 Series 2003-2012 520d            Delhi  2013              76000
Tata Indigo CS eVX                    Jaipur  2016              65000
Hyundai i20 Sportz 1.4 CRDi        Hyderabad  2015              26000
Maruti Omni E MPI STD BS IV            Kochi  2019              11571
Maruti Swift ZDi                   Hyderabad  2014              81000

                                 Fuel_Type Transmission Owner_Type  \
Name
Maruti A-Star Lxi                   Petrol       Manual      First
Renault KWID RXT Optional           Petrol       Manual      First
Hyundai Verna 1.6 SX VTVT (O) AT    Petrol    Automatic      First
Maruti Wagon R LXI Minor            Petrol       Manual     Second
BMW 3 Series 320d Sport Line        Diesel    Automatic      First
BMW 5 Series 2003-2012 520d         Diesel    Automatic      First
Tata Indigo CS eVX                  Diesel       Manual      First
Hyundai i20 Sportz 1.4 CRDi         Diesel       Manual      First
Maruti Omni E MPI STD BS IV         Petrol       Manual      First
Maruti Swift ZDi                    Diesel       Manual      First

                                     Mileage   Engine      Power  Seats  Price
Name
Maruti A-Star Lxi                  19.0 kmpl   998 CC   66.1 bhp    5.0   2.60
Renault KWID RXT Optional         25.17 kmpl   799 CC   53.3 bhp    5.0   4.45
Hyundai Verna 1.6 SX VTVT (O) AT   17.1 kmpl  1591 CC  121.4 bhp    5.0   5.37
Maruti Wagon R LXI Minor           18.9 kmpl  1061 CC     67 bhp    5.0   1.75
BMW 3 Series 320d Sport Line      18.88 kmpl  1995 CC    184 bhp    5.0  16.50
BMW 5 Series 2003-2012 520d       18.48 kmpl  1995 CC    177 bhp    5.0  19.00
Tata Indigo CS eVX                 25.0 kmpl  1396 CC  69.01 bhp    5.0   2.80
Hyundai i20 Sportz 1.4 CRDi       22.54 kmpl  1396 CC  88.73 bhp    5.0   6.20
Maruti Omni E MPI STD BS IV        16.8 kmpl   796 CC   34.2 bhp    8.0   3.80
Maruti Swift ZDi                   25.2 kmpl  1248 CC     74 bhp    5.0   6.10
b
                                                  Location  Year  \
Name
Maruti Ertiga VDI                                   Mumbai  2018
Maruti Alto LXi BSIII                            Hyderabad  2008
Maruti A-Star Vxi                                    Kochi  2010
BMW X5 3.0d                                      Bangalore  2009
Mahindra KUV 100 G80 K6 Plus 5Str                  Kolkata  2017
Hyundai i10 Magna AT                             Bangalore  2008
Honda Civic 2006-2010 1.8 S AT                        Pune  2007
Hyundai i10 Sportz 1.2                           Hyderabad  2010
Mercedes-Benz New C-Class C 220 CDI Elegance AT  Ahmedabad  2014
Toyota Etios G                                        Pune  2011

                                                 Kilometers_Driven Fuel_Type  \
Name
Maruti Ertiga VDI                                            14000    Diesel
Maruti Alto LXi BSIII                                        66000    Petrol
Maruti A-Star Vxi                                            55324    Petrol
BMW X5 3.0d                                                  90000    Diesel
Mahindra KUV 100 G80 K6 Plus 5Str                            43000    Petrol
Hyundai i10 Magna AT                                         58483    Petrol
Honda Civic 2006-2010 1.8 S AT                               93000    Petrol
Hyundai i10 Sportz 1.2                                       50000    Petrol
Mercedes-Benz New C-Class C 220 CDI Elegance AT              78616    Diesel
Toyota Etios G                                               37000    Petrol

                                                Transmission Owner_Type  \
Name
Maruti Ertiga VDI                                     Manual      First
Maruti Alto LXi BSIII                                 Manual      First
Maruti A-Star Vxi                                     Manual      First
BMW X5 3.0d                                        Automatic      First
Mahindra KUV 100 G80 K6 Plus 5Str                     Manual      First
Hyundai i10 Magna AT                               Automatic     Second
Honda Civic 2006-2010 1.8 S AT                     Automatic     Second
Hyundai i10 Sportz 1.2                                Manual      First
Mercedes-Benz New C-Class C 220 CDI Elegance AT    Automatic     Second
Toyota Etios G                                        Manual      First

                                                    Mileage   Engine  \
Name
Maruti Ertiga VDI                                25.47 kmpl  1248 CC
Maruti Alto LXi BSIII                             19.7 kmpl   796 CC
Maruti A-Star Vxi                                 19.0 kmpl   998 CC
BMW X5 3.0d                                       11.0 kmpl  2993 CC
Mahindra KUV 100 G80 K6 Plus 5Str                18.15 kmpl  1198 CC
Hyundai i10 Magna AT                              19.2 kmpl  1197 CC
Honda Civic 2006-2010 1.8 S AT                    12.9 kmpl  1799 CC
Hyundai i10 Sportz 1.2                           20.36 kmpl  1197 CC
Mercedes-Benz New C-Class C 220 CDI Elegance AT  14.84 kmpl  2143 CC
Toyota Etios G                                    17.6 kmpl  1496 CC

                                                     Power  Seats  Price
Name
Maruti Ertiga VDI                                88.50 bhp    7.0   9.25
Maruti Alto LXi BSIII                             46.3 bhp    5.0   1.70
Maruti A-Star Vxi                                 66.1 bhp    5.0   2.87
BMW X5 3.0d                                        235 bhp    5.0  17.75
Mahindra KUV 100 G80 K6 Plus 5Str                   82 bhp    5.0   4.50
Hyundai i10 Magna AT                                80 bhp    5.0   2.95
Honda Civic 2006-2010 1.8 S AT                     130 bhp    5.0   2.60
Hyundai i10 Sportz 1.2                            78.9 bhp    5.0   3.00
Mercedes-Benz New C-Class C 220 CDI Elegance AT    170 bhp    5.0  15.50
Toyota Etios G                                   88.73 bhp    5.0   2.80
c
Index(['Maruti A-Star Lxi', 'Renault KWID RXT Optional',
       'Hyundai Verna 1.6 SX VTVT (O) AT', 'Maruti Wagon R LXI Minor',
       'BMW 3 Series 320d Sport Line', 'BMW 5 Series 2003-2012 520d',
       'Tata Indigo CS eVX', 'Hyundai i20 Sportz 1.4 CRDi',
       'Maruti Omni E MPI STD BS IV', 'Maruti Swift ZDi',
       ...
       'Maruti Ertiga VDI', 'Maruti Alto LXi BSIII', 'Maruti A-Star Vxi',
       'BMW X5 3.0d', 'Mahindra KUV 100 G80 K6 Plus 5Str',
       'Hyundai i10 Magna AT', 'Honda Civic 2006-2010 1.8 S AT',
       'Hyundai i10 Sportz 1.2',
       'Mercedes-Benz New C-Class C 220 CDI Elegance AT', 'Toyota Etios G'],
      dtype='object', name='Name', length=2000)
d
Index(['Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission',
       'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'Price'],
      dtype='object')
e
(2000, 11)
f
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
Price                float64
dtype: object

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**6**</font><br>

Let us organize the DataFrame <tt>car_df</tt>. Do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Change the name of the columns in the DataFrame so that there is no underscore.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Change the data type of <tt>Year</tt>, <tt>Kilometers Driven</tt> and <tt>Seats</tt> to <tt>int32</tt>.

In [46]:
# No. 6
# a
import re
columns_car = data.columns.values
print(columns_car)
new_car_col=[]
old_car_col=[]
for i in range(len(columns_car)):
    if '_' in columns_car[i]:
        old_car_col.append(columns_car[i])
        new_car_col.append(re.sub('_',' ',columns_car[i]))
new_name = {old:new for old,new in zip(old_car_col,new_car_col)}
print(new_name)
car_df.rename(columns=new_name,inplace=True)
print(car_df.columns)

# b
#car_df.astype({'Year':'int32'}).dtypes
#car_df.astype({'Kilometers Driven':'int32'}).dtypes
#car_df.astype({'Seats':'int32'}).dtypes

['Location' 'Year' 'Kilometers_Driven' 'Fuel_Type' 'Transmission'
 'Owner_Type' 'Mileage' 'Engine' 'Power' 'Seats' 'Price']
{'Kilometers_Driven': 'Kilometers Driven', 'Fuel_Type': 'Fuel Type', 'Owner_Type': 'Owner Type'}
Index(['KilometersDriven', 'FuelType', 'OwnerType', 'FuelType', 'Transmission',
       'OwnerType', 'Mileage', 'Engine', 'Power', 'Seats', 'Price'],
      dtype='object')

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**7**</font><br>

To check the data type of the columns in <tt>car_df</tt>, once again, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Print the data type of each column.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print each unique data type, and the number of columns using that data type.

In [ ]:
# No. 7
print("a. Data type of each column: ")


print("b. The number of columns using each data type:")

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**8**</font><br>

Continuing from **No. 6**, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create dummy variables for <tt>Location</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print the last 10 rows of the DataFrame.

In [ ]:
# No. 8
# a


# b

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**9**</font><br>

Now, we want to find certain rows and column, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Use integer indexing to print rows 23, 25 and 39.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Use label indexing to print the row correspoind to the car name <tt>Hyundai i10 Era 1.1</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print the column <tt>Mileage</tt> and <tt>Engine</tt>.

In [ ]:
# No. 9
print("a. Rows 23, 25, and 39 :")


print("b. Rows corresponding to Hyundai i10 Era 1.1:")


print("c. Column Mileage and Engine.")

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**10**</font><br>

Now, we want to find certain rows and column with specified values in the DataFrame. Do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Print the columns <tt>Fuel Type</tt> and <tt>Seats</tt> for the cars <tt>Hyundai i10 Sportz 1.2</tt> and <tt>Toyota Innova Crysta 2.4 GX MT</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print the columns having dtype of <tt>float64</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print all the cars which are <tt>Nissan.</tt>

In [ ]:
# No. 10
print("a. Fuel Type and Seats for the cars Hyundai i10 Sportz 1.2 and Toyota Innova Crysta 2.4 GX MT.")


print("b. Columns having dtype of float64.")


print("c. Cars which are Nissan.")

<p>

# <font size='5' color="#666644">**ASSIGNMENT**</font><font size='6' color="#E0B21B">&nbsp;**2**<br>
When performing data analysis, we may want to only look at data that matches a certain condition. Additionally, we also could perform the same calculations on groups of data. Lesson 2 introduces methods for filtering and grouping, and ends with a section on combining data. 

We will use the same data set as in Lesson 1. Make sure to **reload** the DataFrame so that any changes made in the previous lesson do not carry over.

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**1**</font><br>

For **No. 1** and **No. 2**, we want to analyze the data of the students in the GP school. Therefore, load <tt>gp_data.csv</tt> into a new DataFrame called <tt>df</tt>.

We want to select the students who are hard working. In order to do so, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a boolean array corresponding to students who have no absences.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Create a boolean array corresponding to students who do a lot of studying. (<tt>studytime</tt>=4)

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Create a final boolean array which combine the two previous boolean arrays.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Print the first 20 rows that meet the condition of the final array.

In [ ]:
# No. 1
# a


# b


# c


# d

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**2**</font><br>

Next, we want to select the students whose guardians are teachers. In order to do so, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a boolean array for students whose guardian are their mother. Print the first 5 rows that meet the condition.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Create a boolean array for students whose mothers are teacher. Print the first 5 rows that meet the condition.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Create a boolean array for students whose guardian are their father. Print the first 5 rows that meet the condition.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Create a boolean array for students whose fathers are teacher. Print the first 5 rows that meet the condition.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**e**&nbsp;&nbsp;</font> Create a final boolean array which combine all of the previous boolean arrays to create one where their guardians are teachers. Print the first 20 rows that meet the condition of that final array. Also, print the size of it.

In [ ]:
# No. 2
print("a")


print("b")


print("c")


print("d")


print("e")

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**3**</font><br>

For **No. 3**, **No. 4**, **No. 5** and **No. 6**, we will look at the <tt>train-data.csv</tt> DataFrame which contains information about cars. 

First, we want classify the cars into group based on their <tt>location</tt>. In order to do so, we need to see how many different locations there are, and the number of cars in each location. So, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Load the dataset into a new DataFrame called <tt>cars_df</tt>. Then, create a <tt>groupby</tt> object for the column <tt>Location</tt>. Print that object.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print the number of such groups.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print the size of each group.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Print the first row of each group.

In [ ]:
# No. 3
# a


# b


# c


# d

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**4**</font><br>

According to the result in **No. 3**, we can see that there are too many instant in each groups and it is still difficult to categorize the cars. Therefore, we will also use <tt>Year</tt> to categorize the cars along with their <tt>Location</tt>. In order to do so, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font>  Create a <tt>groupby</tt> object for the column <tt>Location</tt> and <tt>Year</tt>. Print that object.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font>  Print the number of groups.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font>  Print the size of each group.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font>  Print all the cars in <tt>Pune</tt> which are manufactured in <tt>2006</tt>.

In [ ]:
# No. 4
print("a")

print("b")

print("c")

print("d")

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**5**</font><br>

Now, we want to see some statistical figure in our car DataFrame. We want to know the mean and variance of the <tt>Kilometer_Driven</tt> based on the <tt>Owner_Type</tt>. Therefore, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a <tt>groupby</tt> object for the column <tt>Owner_Type</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print out the mean of the <tt>Kilometers_Driven</tt> of each group.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print out the variance of the <tt>Kilometers_Driven</tt> of each group.

In [ ]:
# No. 5
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**6**</font><br>

We want to find out the number of cars in each <tt>Owner_Type</tt> group which have driven more than 55000 kilometers. In order to do so, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Define a function that will return the number of values that are greater than 55000.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> 
Group by <tt>Owner_Type</tt> and use <tt>agg</tt> to apply the user-define function to the <tt>Kilometers_Driven</tt> column.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Print the result to see which group has more cars with over 55000 kilometers driven.

In [ ]:
# No. 6
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**7**</font><br>

For **No. 8**, **No. 9** and **No. 10**, we want to look at the data and grade of student from both schools. In order to do so, we need to combine four DataFrames together. Therefore, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Load <tt>gp_data.csv</tt> and <tt>ms_data.csv</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Create a new DataFrame called <tt>student_data</tt> by combining both the <tt>gp_data.csv</tt> and <tt>ms_data.csv</tt> using <tt>concat</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Load <tt>gp_grades.csv</tt> and <tt>ms_grades.csv</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Create a new DataFrame called <tt>student_grades</tt> by combining both the <tt>gp_grades.csv</tt> and <tt>ms_grades.csv</tt> using <tt>concat</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**e**&nbsp;&nbsp;</font> Create a new DataFrame called <tt>student</tt> using inner join to combine the <tt>student_data</tt> and <tt>student_grades</tt>

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**f**&nbsp;&nbsp;</font> Print the shape of the final <tt>student</tt> DataFrame.

In [ ]:
# No. 7
# a


# b


# c


# d


# e


# f

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**8**</font><br>

For a student to pass the exam, they have to **score 12 or higher** in **at least one of their <tt>G1</tt>, <tt>G2</tt>, or <tt>G3</tt> test**. With this information, select all the students who failed the exam.

In [ ]:
# No. 8

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**9**</font><br>

Based on the <tt>sex</tt> and <tt>age</tt> of the student, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Find out which group has the highest mean score for <tt>G3</tt> test.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Find out which group has the highest variance in the number of </tt>absences</tt>.

In [ ]:
# No. 9
# a


# b

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**10**</font><br>

Based on the <tt>address</tt> and <tt>guardian</tt>, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font>
Define a function and use <tt>agg</tt> to apply the function to the <tt>traveltime</tt> column.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font>
Find out the sum of the travel time for each group on the <tt>address</tt> and <tt>guardian</tt>.

Do not use Pandas provide function for the answer, but you may use it to check.

In [ ]:
# No. 10
# a


# b

<p>

# <font size='5' color="#666644">**ASSIGNMENT**</font><font size='6' color="#E0B21B">&nbsp;**3**<br>
Data can be collected from many different sources, and the amount, type, and format of data can vary from source to source. Before we can analyze or use this data, we will need to clean the data so that all types, scales, and units match, and handle missing data. In this lesson, we will cover the above topics.

We will use a dataset collected in 2019 that contains information on cars, including performance specs and used and new sale prices.

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**1**</font><br>

For **No. 1**, **No. 2** and **No. 3**, we will be using the student dataset. When combining the <tt>gp</tt> and <tt>ms</tt> DataFrames, make sure the <tt>gp</tt> DataFrame is on top of the student dataset. 

For the student dataset, we want to calculate the grade and score of the student from their <tt>attendance</tt>, <tt>G1</tt>, <tt>G2</tt> and <tt>G3</tt> score.

Let us begin by calculating the <tt>attendence_score</tt> of each students. Do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font>
 Create a new column called <tt>attendence_score</tt>.  
 
<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Fill in the values of that column using the following criteria:
 * No Absence = 5
 * 1-5 Absences = 4
 * 6-10 Absences = 3
 * 11-15 Absences = 2
 * 16-20 Absences = 1
 * 21 or more Absences = 0

In [ ]:
# No. 1

# a, b

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**2**</font><br>

The <tt>G1</tt>, <tt>G2</tt> and <tt>G3</tt> score are out of 20, calculate the percentage of each score by doing the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a new column called <tt>G1_percent</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Fill in the column using the formula (<tt>G1</tt>/20)*100.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Repeat for the new column called <tt>G2_percentage</tt> and <tt>G3_percentage</tt>.

In [ ]:
# No. 2

# a, b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**3**</font><br>

The way the final grade is calculated is that the <tt>attendence</tt> contributes to 10% of the score and each exams are 30%. So, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a new column called <tt>total_score</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Fill in the column using the formula:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2 &#42; <tt>attendence_score</tt>) + 0.3 &#42; (<tt>G1_percentage</tt> + <tt>G2_percentage</tt> + <tt>G3_percentage</tt>)

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Create a new column called <tt>grade</tt>

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Fill in the column using the following criteria:
 * If <tt>total_score</tt> is 95-100 = A
 * If <tt>total_score</tt> is 85-95 = B
 * If <tt>total_score</tt> is 70-85 = C
 * If <tt>total_score</tt> is 60-70 = D
 * If <tt>total_score</tt> is 60 or less = F

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**e**&nbsp;&nbsp;</font> Print <tt>student_id</tt>, <tt>attendence_score</tt>, <tt>G1_percentage</tt>, <tt>G2_percentage</tt> and <tt>grade</tt> for row 420 to 430.

In [ ]:
# No. 3

# a, b


# c, d


# e

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**4**</font><br>

For all of the questions from this point on, we will be using the <tt>car_train_data.csv</tt> dataset.

The customer would like to know what type of car each of the car is. In order to do so, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a new column called <tt>Car_Type</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Fill in the column using the following criteria:
 * If the car have 2 seats, <tt>Convertible</tt>.
 * If the car have 4 seats, <tt>Sedan</tt>.
 * If the car have 5-7 seats, <tt>SUV</tt>.
 * If the car have 8-10 seats, <tt>Van</tt>.
 * Apart from that, <tt>Other</tt>.

In [ ]:
# No. 4

# a, b

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**5**</font><br>

There are some data still missing from the dataset which we need to fill, before we remove all of the rows where there are values missing. Do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Fill all the NA values for <tt>Seats</tt> and <tt>New_Price</tt> with 0.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Remove the unit from <tt>Power</tt> and convert the dtype to <tt>float</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Calculate the mean of the <tt>Power</tt>, and fill <tt>NA</tt> values for <tt>Power</tt> with the mean.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Remove rows with <tt>NA</tt> values and print the shape of the DataFrame.

In [ ]:
# No. 5

# a


# b


# c


# d

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**6**</font><br>

Next, with the remaining dataset, we need to separate the cars in to 3 different <tt>Engine_Size</tt> categories. Do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Remove the unit from <tt>Engine</tt> and convert dtype to float.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Create a new column called <tt>Engine_Size</tt> by discretizing the values into three categories, each with the same number of points per category. The names of the categories are <tt>Small</tt>, <tt>Medium</tt>, and <tt>Large</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Group by <tt>Engine_Size</tt> and print the group sizes as well as the ranges of each categories.

In [ ]:
# No. 6

# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**7**</font><br>

Now, we want to see some statistical values in the dataset, based on the location of the car. Do the following:
1. Print the min and max values of <tt>Kilometers_Driven</tt> in each location (group by location).

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**8**</font><br>

Find the mean and variance of the <tt>Kilometers_Driven</tt> using the DataFrame's <tt>mean</tt> and <tt>var</tt> function.

In [ ]:
# No. 9

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**9 & 10**</font><br>

Lastly, we are going to change the <tt>New_Price</tt> for all of the car. The price of the car in each location depreciate in a different rate. We are going to define and apply a function to the DataFrame grouped by location. Using a dictionary provided in the code, do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a function which depreciate the price of the car by the formula (<tt>factor</tt> &#42;&#42; <tt>year_old</tt>) &#42; <tt>Price</tt>. The <tt>factor</tt> can be obtained from the dictionary provided and <tt>year_old</tt> = 2021-<tt>Year</tt>.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Find out the location where the average <tt>New_Price</tt> of cars at the location is higher and lower than the average <tt>New_Price</tt> of all of the cars.

In [ ]:
# No. 10
factor_table = {
    'Mumbai': 0.98,
    'Pune': 0.95,
    'Chennai': 0.93,
    'Coimbatore': 0.96,
    'Hyderabad': 0.91,
    'Jaipur': 0.94,
    'Kochi': 0.95,
    'Kolkata': 0.97,
    'Delhi': 0.93,
    'Bangalore'0.93: ,
    'Ahmedabad': 0.92}

# a


# b

<p>

# <font size='5' color="#666644">**ASSIGNMENT**</font><font size='6' color="#E0B21B">&nbsp;**4**<br>
Data visualization is one of the most important topics in Data Science as it allows us to rapidly observe various properties of our data and share findings with others. However, selecting the wrong type of plot can lead to confusion. There are many Python libraries for data visualization, and this lesson will introduce some of the most popular.

We will be working with both of the previously used datasets in this section. Load them below before we move on to the exercises. For the student dataset, load the data and grades files, and merge into one single DataFrame. For the car dataset, drop rows with missing values.

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**1**</font><br>

Let us begin by using matplotlib library to do some basic plots.
Do the following:

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create two subplots which shares a common x-axis. (Two rows one column)

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Using different colors and linestyles, draw the following:
 * sin(*x*) for the range *x* = [0, pi] on the first (top) subplot.
 * sin(2*x*) for the range *x* = [pi, 2pi] on the first (top) subplot.
 * cos(3*x*) for the range *x* = [0, pi] on the second (bottom) subplot.
 * cos(*x*) for the range *x* = [pi, 2pi] on the second (bottom) subplot.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Change the xticks to range from [0, 4pi] with intervals of 0.5pi, and set the xlabel accordingly. Use the symbol for "pi" for the labels.

<font color="#E0B21B" size='3'>&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Set the title of the plot to <tt>Assignment 4</tt>.

In [ ]:
# No. 1
# a


# b


# c


# d

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**2**</font><br>
Now, we are going to use the built in functions of the Pandas library to plotting graphs from the DataFrame.<p>
For **No. 2**, **No. 3** and **No. 4**, we are going to be using the car dataset.<p>
We want to visualize what the probability of a randomly chosen car's power is through a kernel density estimate. Do the following:<p>
<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Plot a kernel density estimate of <tt>Power</tt>. <p>
<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Set the title to <tt>Car's Power</tt><p>
<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Also, there should be no legend.<p>

Remember to remove the unit from the values in the column and convert the dtype to float.

In [ ]:
# No. 2
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**3**</font><br>
We want to visualize the spread of the <tt>Kilometers_Driven</tt> of cars with different <tt>Owner_Type</tt> using boxplots. Do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> First, create a new DataFrame with only <tt>Kilometers_Driven</tt> and <tt>Owner_Type</tt> column.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Pivot the data so that each column represent the different <tt>Owner_Type</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Plot boxplots for <tt>First</tt>, <tt>Second</tt>, <tt>Third</tt>, and <tt>Fourth & Above</tt>. Set the title to <tt>Kilometer Driven based on Owner Type</tt>.

In [ ]:
# No. 3
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**4**</font><br>
We want to see how many seats most car have using a histrogram. Plot a histrogram of <tt>Seats</tt>. Set the title to <tt>Car's Seat</tt>, and there should be no legend.

In [ ]:
# No. 4

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**5**</font><br>
For **No. 5**, **No. 6** and **No. 7**, we are going to be using the student dataset.
We want to visualize what jobs the parent of the student does. Do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Calculate the sizes of each of the groups in <tt>Mjob</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Convert the size to percentage, and plot a pie chart.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Repeat the same steps but for <tt>Fjob</tt>.

In [ ]:
# No. 5
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**6**</font><br>
We want to compare the amount of students with different scores in the <tt>G1</tt>, <tt>G2</tt>, and <tt>G3</tt> exam. Do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Calculate the sizes of each scores in <tt>G1</tt>, <tt>G2</tt>, and <tt>G3</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Create a DataFrame where the index should be scores, the columns should be exams (<tt>G1</tt>, <tt>G2</tt>, and <tt>G3</tt>), and the values should be sizes.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Plot a line chart.

In [ ]:
# No. 6
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**7**</font><br>
We want to compare the plot for <tt>absenses</tt>. Plot three histograms: one with bin value of 5, one with bin value of 8 and one with bin value of 11.

In [ ]:
# No. 7
# One with bin value of 5


# One with bin value of 8


# One with bin value of 11

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**8**</font><br>
From here on, we will be using the Seaborn library for plotting.<p>
We want to see the student's <tt>G3</tt> scores in relation to their guardian's education. Using the student dataset, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font>  Copy the student dataset into a new dataset. Work on the new dataset.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font>  Create a column called <tt>guardianedu</tt> and fill it with the student's gardian's education. If the <tt>guardian</tt> is <tt>father</tt>, the value of 
<tt>guardianedu</tt> will be <tt>Fedu</tt>, else <tt>Medu</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font>  Create a boxplot with *x*-axis <tt>guardianedu</tt> and *y*-axis <tt>G3</tt>.

In [ ]:
# No. 8
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**9, 10**</font><br>
We want to see the car's <tt>Mileage</tt> based on the car's <tt>Engine</tt> and <tt>Year</tt>. Using the car dataset, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Copy the car dataset into a new dataset. Work on the new dataset.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Remove all the rows where the <tt>Fuel_type</tt> is not <tt>Diesel</tt> or <tt>Petrol</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Remove unit from the <tt>Mileage</tt> and <tt>Engine</tt> and convert their dtype to numeric.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Create a new column called <tt>Engine_size</tt> and fill it with <tt>0-500 CC</tt>, <tt>500-1000 CC</tt>,...,<tt>5500-6000 CC</tt> depending on the value in the <tt>Engine</tt> column.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**e**&nbsp;&nbsp;</font> Create bar plots for <tt>Mileage</tt>, grouping by <tt>Year</tt> and <tt>Engine_size</tt>.
 * Set x=<tt>Year</tt>, y=<tt>Mileage</tt>, facet by <tt>Engine_size</tt> with col_wrap=4. Make sure the labels of the x-axis does not overlap.

In [ ]:
# No.9, 10
# a


# b


# c


# d


# e

<p>

# <font size='5' color="#666644">**ASSIGNMENT**</font><font size='6' color="#E0B21B">&nbsp;**5**<br>
Like data visualization, applying supervised and unsupervised learning methods to data is a common task. In this lesson, we will work with sklearn, one of the most popular machine learning libraries in Python. We will review methods for regression, classification, and clustering.

As in Lesson 4, we will be working with both the student and car datasets. Load them below before we move on to the exercises. Additionally, load <tt>car_test_data.csv</tt> into a third DataFrame. For the student dataset, load the data and grades files, and merge into one single dataframe. For the car datasets, drop rows with missing values.


## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**1**</font><br>
Let us try visualizing original data and preprocessed data.<p>
Using <tt>car_train_data.csv</tt>, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Make a boxplot for the columns <tt>Engine</tt> and <tt>Power</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Standardize <tt>Engine</tt> using <tt>MinMaxScaler</tt> and plot the result with a boxplot.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Standardize <tt>Power</tt> using <tt>StandardScaler</tt> and plot the result with a boxplot.

Remember to clean the data (remove units and other non-numerical characters) before using them.

In [ ]:
# No. 1
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**2**</font><br>
We can use linear regression to predict outcomes based on given information. Let us try and predict the student's <tt>G3</tt> score.<p>
Using the student dataset, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Train a linear model using the columns <tt>G3</tt> and <tt>studytime</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print the <tt>coef_</tt> and <tt>intercept_</tt> attributes.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> On the same figure, plot <tt>G3</tt> vs. <tt>studytime</tt> and the line representing the linear model.

In [ ]:
# No. 2
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**3**</font><br>
Repeat **No. 2** once again. This time, replace <tt>studytime</tt> with some other column in the DataFrame you think might have an effect on the student's <tt>G3</tt> score. Print out the <tt>coef_</tt> and <tt>intercept_</tt> attribute as well as plotting the figure.

In [ ]:
# No. 3

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**4**</font><br>
Unlike linear regression which is used to handle regression problems, logistic regression allows us to handle classification problems. Let us try to predict whether the car <tt>Fuel_type</tt> is <tt>Diesel</tt> or <tt>Petrol</tt> based on their <tt>Mileage</tt>.<p>
First, let us begin by cleaning up the data. Using the <tt>car_train_data.csv</tt>, do the following:
<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Remove all the rows where the <tt>Fuel_type</tt> is not <tt>Diesel</tt> or <tt>Petrol</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Remove the unit from <tt>Mileage</tt> and convert the dtype to float.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Create a new column called <tt>is_Diesel</tt> from <tt>Fuel_type</tt> with the conditions: if <tt>Fuel_type</tt> is <tt>Diesel</tt>, the value is 1, otherwise the value is 0.

In [ ]:
# No. 4
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**5**</font><br>
Now, let us train the logistic regression and find out probability values from the model. Using the data obtained in No. 4, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Train the logistic regression model that predicts <tt>is_Diesel</tt> from <tt>Mileage</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Print the probability that the car <tt>Fuel_type</tt> is <tt>Diesel</tt> when the <tt>Mileage</tt> is 20 kmpl.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Plot the probabilities that the car <tt>Fuel_type</tt> is <tt>Diesel</tt> for 0...30 kmpl <tt>Mileage</tt>.

In [ ]:
# No. 5
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**6**</font><br>
We can also use other classification models to tackle the problem, this time we will use k-neareast neighbour classification method. <p>
Using the data obtained in **No. 4** and the <tt>car_test_data.csv</tt>, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a model using <tt>KNeighborsClassifier</tt> and predict <tt>is_Diesel</tt> from <tt>Mileage</tt>. Set <tt>k</tt> to 2.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Apply the model to the <tt>car_test_data.csv</tt> dataset and print the accuracy score of the <tt>is_Diesel</tt> and predictions.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Change the value of <tt>k</tt> to find the best accuracy score.

In [ ]:
# No. 7
# a


# b


# c

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**7**</font><br>
Another classification model is <tt>DecisionTreeClassifier</tt>. Using the data obtained in No. 4 and the <tt>car_test_data.csv</tt>, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create a model using <tt>DecisionTreeClassifier</tt> and predict <tt>is_Diesel</tt> from <tt>Mileage</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Apply the model to the <tt>car_test_data.csv</tt> dataset and print the accuracy score of the <tt>is_Diesel</tt> and predictions.

In [ ]:
# No. 7
# a


# b

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**8**</font><br>
We can also use more than one variable to help classify the data. This should be able to help improve the accuracy of the model.

Repeat **No. 7** again. This time, instead of using just <tt>Mileage</tt> for the model, use <tt>Year</tt>, <tt>Kilometers_Driven</tt>, <tt>Mileage</tt>, <tt>Engine</tt> and <tt>Power</tt> to create a <tt>DecisionTreeClassifier</tt> model. Print out the accuracy score.<p>Remember to clean the data (remove units and other non-numerical characters) before using them.

In [ ]:
# No. 8

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**9**</font><br>
Now, we will be performing unsupervised learning, specifically unsupervised clustering. Unsupervised learning may allow us to find trends which are not visible to our eyes.<p>
First, we will begin by preprocessing the data. Using the <tt>car_train_data.csv</tt>, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Create dummy variables for columns <tt>Location</tt>, <tt>Fuel_Type</tt>, and <tt>Transmission</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Remove units and other non-numerical characters from columns <tt>Mileage</tt>, 
<tt>Engine</tt>, and <tt>Power</tt>. Convert their dtypes to numeric.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Perform PCA on the columns above with the addition of <tt>Year</tt>, <tt>Kilometers_Driven</tt>, and <tt>Seats</tt>.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**d**&nbsp;&nbsp;</font> Save the first two principle components.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**e**&nbsp;&nbsp;</font> Print the sum of explained variance ratio of the first two principle components.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**f**&nbsp;&nbsp;</font> Make a scatterplot from the first two principle components.

In [ ]:
# No. 9
# a


# b


# c


# d


# e


# f

## <font size='4'><font color="#E0B21B">●&nbsp;&nbsp;</font><font color="666644" size='2'>**No.**</font><font color="#333311">**10**</font><br>
Now that we have our entire data represented in two dimensions, we will perform unsupervised clustering method. Using the PCA from No. 9, do the following:

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**a**&nbsp;&nbsp;</font> Perform K-Means clustering with k=4 on the data. Plot the data using different colors for each labels.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**b**&nbsp;&nbsp;</font> Perform DBSCAN as a clustering method on the data. Plot the data using different colors for each labels.

<font color="#E0B21B">&nbsp;&nbsp;&nbsp;&nbsp;**c**&nbsp;&nbsp;</font> Try plotting the first two principle components again, but this time, color each output by <tt>Owner_Type</tt>.

In [ ]:
# No. 10
# a


# b


# c